<style>
div.container {
	max-width: 1400px;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-shipping-fast me-2"></i>
            Logistics Company
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === '/' ? 'active' : '' %>" href="/">
                        <i class="fas fa-home me-1"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === '/clients/send-package' ? 'active' : '' %>" href="/clients/send-package">
                        <i class="fas fa-box me-1"></i> Send Shipment
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === '/received-shipments' ? 'active' : '' %>" href="/clients/received-shipments">
                        <i class="fas fa-inbox me-1"></i> Received Shipments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === '/clients/pending-shipments' ? 'active' : '' %>" href="/clients/pending-shipments">
                        <i class="fas fa-map-marker-alt me-1"></i> My Shipments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === '/about' ? 'active' : '' %>" href="/about">
                        <i class="fas fa-phone me-1"></i> Contact
                    </a>
                </li>
            </ul>
            <% user %>
            <% if (user) { %>
              <div class="user-info">
                <i class="fas fa-user"></i>
              </div>
							<span class="client-name"><%= user %></span>
							<a href="/auth/logout" class="logout-link">Logout</a>
            <% } else { %>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="btn btn-outline-light" href="/auth/login">
                          <i class="fas fa-sign-in-alt me-1"></i> Login
                      </a>
                  </li>
                  <li class="nav-item" style="margin-left:1rem;">
                      <a class="btn btn-outline-primary" href="/auth/register">
                          <i class="fas fa-user-plus me-1"></i> Register
                      </a>
                  </li>
              </ul>
            <% } %>
        </div>
    </div>
</nav>
